{
    "presets": [
        ["@babel/preset-env",
        {
           "modules":false,
           "targets":{
            "browsers": ["> 1%", "last 2 versions", "not ie <= 8","Android >= 4","iOS >= 8"]
           },
           "useBuiltIns":"usage"
            
        }]
    ],
    "plugins": [
            ["@nutui/babel-plugin-separate-import",{"style":"css"}],
            "@babel/plugin-syntax-dynamic-import"
            
        ]
}